<div class="container pt-4 col-4">
  <h1>Edit List</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %> <br>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: 'btn btn-success text-white' %>
  <% end %>

  <br>
